* {
    font-family: fontnicomoji;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #288060;
}

html {
    background: #222;
}

.page {
    background: #FFF;
    box-shadow: #111 0px 0px 10px;
    box-sizing: border-box;
    margin: 20px 40px auto;
    font-family: "Nico Moji", sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    font-size: 18px;
}

.logo {
    height: 20px;
    width: 20px;
}

.logo_greenwind {
    height: 50px;
    width: 170px;
}

.container_social {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex {
    position: relative;
    display: flex;
    margin-left: auto;
    gap: 8px;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-shadow: #555555 0px 1px 8px;
    padding: 0 1%;
}

.links {
    justify-content: space-between;
    padding: 1% 3%;
}

.icon {
    width: 15px;
    height: 15px;
}

.colored_h1 {
    color: #64CEA8;
}

.colored_h2 {
    color: #46836d;
}

h1 {
    padding-top: 5%;
    color: #333;
}

h2,
.p1,
.p2 {
    padding-top: 5%;
    color: #666;

}

.eolimg {
    width: 350px;
}

.p1 {
    color: #333;
}

.p2 {
    color: #666;
}

.links_navbar {
    display: block;
    white-space: nowrap;
}

.links_navbar a {
    padding-left: 12px;
}

.burger_menu {
    display: none;
}

.fiche {
    padding: 0 5%;
}

.bg_container {
    position: relative;
    text-align: center;
}

.bg_section {
    width: 90%;
}

.button_bg_01 {
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;
    width: auto;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.button_bg_02 {
    position: absolute;
    top: 10%;
    left: 39%;
    color: white;
    width: auto;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.float_image_01 {
    position: absolute;
    top: 10%;
    left: 70%;
    width: 25%;
}

.titles {
    position: absolute;
    top: 4%;
    left: 12%;
    color: #FFF;
    font-size: 34px;
    font-weight: bold;
}

.shape_container {
    text-align: left;
}

.shape_outside {
    float: right;
    padding-bottom: 3rem;
    shape-outside: url("assets/img/kit.png");
    width: 350px;
}

.button_element {
    display: flex;
    margin: 5% 54%;
    white-space: nowrap;
}

.cap {
    text-transform: uppercase;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
}



.container_graph {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
}

.data {
    width: 50%;
    text-align: center;
    justify-content: center;
    padding: 40px;
}

.data img {
    max-width: 150px;
}

.box {
    display: block;
    justify-content: center;
    padding-top: 100px;
}

.submyasso {
    margin: 16px !important;
    text-decoration: none;
    background: #ccc;
    padding: 5px 15px;
    border-radius: 35px;
    text-align: center;
    color: #000;
}

.btnnavbar {
    padding: 5px 15px;
    border-radius: 35px;
    text-align: center;
}

.btn {
    left: 10%;
    display: flex;
    padding: 5px 15px;
    border-radius: 35px;
    text-align: center;
    min-width: 200px;
    align-items: center;
}

.btn:hover {
    outline: 2px solid white;
    filter: saturate(2);
}

.contbtnfreeposition {
    position: relative;
    width: 100%;
}

.btnfreeposition {
    border-radius: 35px;
    text-align: center;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 180px;
    padding: 8px 20px;
    width: 18rem;
}

.btnabsol {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 10%;
}

.dazdazd {
    background: #000;
    background: #f44f88;
    color: #FFF;
    color: #ffd0c7;
    outline: #000 solid 1px;
}

.btnrose {
    background: #f44f88;
    color: #FFF;
}

.btngreen {
    background: #64CEA8;
    color: #FFF;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container_boutique {
    display: grid;
    justify-items: center;
    justify-content: center;
    text-align: center;
    white-space: break-spaces;
    padding: 40px;
}

.container_boutique img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 15%;
}

.inscription,
.inscription h1 {
    text-align: left;
    color: white;
    background: #483;
    padding: 4%;
}

.pile {
    position: relative;
    text-align: left;
    color: white;
    background: #483;
}

.container_inscription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin: 20px;
    padding-right: 40px;
}

.footer {
    background: #303735;
    color: #9c9a9a;
    width: 100%;
    padding: 1%;
}

.tofu {
    display: flex;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@font-face {
    font-family: fontnicomoji;
    src: url("./font_NicoMoji.ttf");
}

.footfoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 8px;
}

.foologo {
    width: 100px;
}

/* ########## MEDIA QUERIES ########*/
/* ########## MEDIA QUERIES ########*/
/* ########## MEDIA QUERIES ########*/
@media (max-width: 800px) {
    .grid3 {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .bg_section {
        height: 300px;
        width: 100%;
    }

    .clear {
        flex-direction: column;
    }

    .container_graph {
        display: block;
    }

    .illustration {
        bottom: 0;
    }

    .links_navbar {
        display: none;
    }

    .burger_menu {
        display: block;
    }

    .shape_outside {
        max-width: 75%;
    }

    .button_element {
        white-space: wrap;
        margin: 0;
    }

    .titles {
        top: 2%;
        left: 5%;
    }

    .pile {
        position: relative;
        width: 100%;
        left: 0;
    }

    .tofu {
        display: flex;
        padding: 4% 1%;
    }

    .footer {
        padding: 0;
    }

    .eolimg {
        width: 200px;
        padding: 2%;
    }

    .btn {
        width: 130px;
    }

    .btnabsol {
        position: absolute;
        z-index: 2;
        top: 64px;
        left: 10%;
    }
}